<style>
    .Form img{
        margin: 70px 50px 30px 520px;
      border-radius: 50%;
      border: solid 4px rgb(5, 162, 133);
    }

    .Form h1{
        margin: 30px 50px 30px 575px;
    }
    
    
  </style>
  
   <!-- Body -->
   
  <div class="Form">
    <img
        width="200"
        alt="สัตว์"
        src="https://png.pngtree.com/png-clipart/20190122/ourlarge/pngtree-animal-cartoon-world-animal-day-animal-world-png-image_526679.jpg"
      />
    <h1>Animal</h1>
    <app-compa></app-compa>   
</div>
<router-outlet></router-outlet>

